body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Smooch Sans", sans-serif;
}

header {
  margin: 30px auto;
  padding: 30px auto;
  background: rgba(225, 243, 244, 0.7);
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 2px 8px 23px rgba(0, 0, 0, 0.2);
}
.enterCity {
  border-radius: 4px;
  background: white;
  border: none;
  width: 200px;
  height: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 20px auto;
  color: rgb(0, 76, 106);
}
.search {
  text-align: center;
  border-radius: 6px;
  background: white;
  border: none;
  width: 80px;
  height: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: rgba(141, 218, 253, 0.8);
  font-weight: bolder;
  color: black;
  padding: 20px auto;
  margin-left: 5px;
  transform: all 200ms ease-in-out;
}
.search:hover {
  background-color: rgb(87, 87, 87);
  box-shadow: 2px 8px 23px rgba(0, 0, 0, 0.2);
  color: rgb(141, 218, 253);
}
.weekday {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 30px auto;
  color: rgb(0, 0, 0);
}

.date {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 10px auto;
  color: rgb(0, 76, 106);
}

main {
  background: rgba(225, 243, 244, 0.7);
  text-align: center;
  max-width: 650px;
  max-height: 400px;
  border-radius: 20px;
  box-shadow: 2px 8px 23px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 70px;
  padding-top: 30px;
  font-weight: 500;
  margin: 0 auto;
}
.todayweather {
  font-size: 40px;
  padding: 0 auto;
  text-align: center;
  margin: 0 auto;
}
.todayinfo {
  padding: 0 auto;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
}

#main-icon {
  display: block;
  width: 200px;
  float: left;
  margin: 50px 20px;
  padding: 0 auto;
}

.wind-icon {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}
.humidity-icon {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.snowflake-icon {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}
.mainUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block; /* Use inline-block to make the list items appear in a row */
  vertical-align: top; /* Align items to the top to center them vertically */
  margin: 0 auto; /* Center the list items horizontally */
  padding: 40px 28px;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
}

footer {
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
a {
  color: rgb(0, 76, 106);
  text-decoration: none;
  font-weight: 600;
  transition: all 150ms ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.weather-wind {
  width: 60px;
  padding: 0 auto;
}

.weather-rain {
  width: 60px;
  padding: 0 auto;
}

.weather-cloudy {
  width: 60px;
  padding: 0 auto;
}
.forecast {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 auto;

  overflow: hidden;
  text-align: center;
}
.forecast li {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

hr {
  opacity: 0.3;
}

.forecast-container {
  border-radius: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(246, 181, 102, 0.3) 0%,
    rgba(255, 246, 225, 0.3) 90%
  );
}
